* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background: #3dbfb498;
}
.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 0px auto;
    overflow: hidden; 
}
/*header*/

header {
    background: white;
}

.reg {
    float: right;
    margin-top: 50px;
    margin-right: 20px  ;
}
.reg a{
    text-decoration: none;
    color: #000c96;
}

.nav1 {
    margin: 0px auto;
    background: black; 
    text-align: center;
    width: 100%; 
}

.nav1 ul {
    list-style: none;
    overflow: hidden; 
    
}
.nav1 ul li {
    float:  left;
    width: 25%;
    flex: auto;
}
.nav1 ul li a {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    padding: 15px 20px;
    width: 100%;
    font-size: 19px;
}
.nav1 ul li a:hover {
    background: #ffffff98;
    color: #000000; 
}

/*nav2*/
.nav2 {
    float: left;
    margin: 0;
    padding: 0;
    position: fixed;
    background: black; 
    text-align: center;
    width: 100%; 
}

.nav2 ul {
    list-style: none;
    overflow: hidden; 
    
}
.nav2 ul li {
    float:  left;
    width: 20%;
    flex: auto;
}
.nav2 ul li a {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    padding: 15px 20px;
    width: 100%;
    font-size: 19px;
}
.nav2 ul li a:hover {
    background: #ffffff98;
    color: #000000; 
}
/*main*/

.main {
    width: 100%;
    float: left;
    background: white; 
}
.main h1{
    margin-bottom: 25px;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 50px;
}
.main .inicio h2 {
    margin-bottom: 20px;
}
.main .inicio {
    margin-top: 5%;
    margin-left: 10%;
    
    margin-bottom: 5%;
    width:100%; 
    align-content: center;
}
.main .inicio img {
    margin-top: 10px;
    width: 100%;
    vertical-align: top; 
}
.img {
    width: 80%;
    border: #000000;
    border :solid;
    background-color: #353535;
}
.main .in {
    padding: 40px; 
}
.main .in article h2 {
    margin-left: 20px;
    margin-bottom: 20px;
}
.main .in article h3 {
    margin-left: 5%;
}
.main .in article p {
    margin-left: 10%;
    margin-bottom: 15px;
    margin-right: 10%;
    line-height: 27px; 
}

.main .rec {
    padding: 40px; 
}
.main .rec article h2 {
    margin-left: 20px;
    margin-bottom: 20px;
}

.main .rec article p {
    margin-left: 10%;
    margin-bottom: 15px;
    margin-right: 10%;
    line-height: 27px; 
}

/*footer*/
.contactos{
    display: flex;
    width: 100%;
    column-count: 3;
    background: #000c96;

}
.col1{
    margin: 3%;
    width: 32%;
}
.col2{
    margin: 3%;
    width: 32%;
}
.col3{
    margin: 3%;
    width: 32%;
}
.contactos p{
    color: #ffffff;
    margin-left: 5px;
    margin-top: 5px;    
}
.copr{
    width: 100%;
    background: #3944bd;
    color: #ffffff;
    text-align: center;
}