{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<enlace rel="preconectar" href="https://fonts.googleapis.com">
		<enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
		<enlace href="https: //fonts.googleapis.com/css2? family= Inter:wght@300 & display=swap" rel="stylesheet">
	<title>Inicio</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
	<header>
			<div id="#inicio" class="hea">
				<img src="{% static 'img/logo2.png' %}" alt="Logo">
				<div class="reg">
					<a href="index.html">Cerrar sesion</a>
				</div>
			</div>
			<nav class="nav1">

				 <ul>
					<li><a href="#inicio">Inicio</a></li>
					<li><a href="#info">Info. relevante</a></li>
					<li><a href="backend/historial.html">Historial</a></li>
					<li><a href="#reco">Recomendaciones</a></li>
					<li><a href="#cont">Contacto</a></li>
				</ul> 
			</nav>
		</header>
	<div class="contenedor">
		
		<section class="main">
			<h1>UV-Eyes</h1>
			<div class="inicio">
				 
				<div class="img">	
					<img src="{% static 'img/imgs.jpeg' %}" alt="Mapa">
				</div>
			</div>
			
			<section class="in">
				<article id="info">
					<h2>Informacion Relevante</h2>
					<h3>Como se miden los rayos UV</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<h3>Por que lo usamos?</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</article>
			</section>
			<!--<section class="hi">
				<article id="hist">
					<h2>Historial</h2>
					<h3>Ultimos lugares visitados</h3>
					<img src="img/mpej.png" alt="Mapa del historial">
					<h3>Recorrido</h3>
					<table>
						<tr>
							<th>Ciudad</th>
							<th>Lugares</th>
							<th>Nivel de radiacion</th>
						</tr>
						<tr>
							<th>Medellin</th>
							<th>U. EAFIT</th>
							<th>4</th>
						</tr>
						<tr>
							<th>Marinilla</th>
							<th>Parque</th>
							<th>6</th>
						</tr>
						<tr>
							<th>Poblado</th>
							<th>CC el Tesororo</th>
							<th>7</th>
						</tr>
					</table>
				</article>
			</section>!-->
			<section class="rec">
				<article id="reco">
					<h2>Recomendaciones</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, perferendis harum maxime quaerat nam amet, officia sit nisi eum quod id deserunt eligendi. Odio aspernatur veniam minima ratione, iusto voluptates? 
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsum qui voluptates nemo ea ut et porro eius necessitatibus similique, dignissimos, asperiores ex rerum molestiae blanditiis dolore illum adipisci accusantium?
					</p>
				</article>
			</section>
			<div id="cont" class="con">
				<h2>Contactanos</h2>
				<form action="###por definir####" method="POST" class="formulario">
					<input type="text" name="usuario" id="usuario" placeholder="Nombre"><br>
					<input type="mail" name="correo" id="correo" placeholder="Correo"><br>
					<input class="comentario" type="text" name="comentario" id="comentario" placeholder="Comentario"><br>
					<button type="submit" name="Entrar">Enviar</button>
				</form> 
			</div>
			<br><br><br>
		</section>
	</div>
</body>
<footer>
	<div class="contactos">
		<div class="col1">
			<p>Contáctanos</p>

			<p>EAFIT Medellín</p>
			<p>Carrera 49 N° 7 Sur-50</p>
			<p>Línea nacional: 01 8000 515 900</p>
			<p>Línea de atención (57) 604 2619500</p>
			<p>Whatsapp: (57) 310 8992908</p>
			<p>Centro de Visitantes</p>
			<p>EAFIT Pereira Carrera 19 #12-70 Megacentro Pinares(57) 606 3214115, 606 3214119</p>
			<p>EAFIT Bogotá Carrera 21 #87-85(57) 601 6114618</p>
			<p>EAFIT Llanogrande Km 3.5 vía Don Diego –Rionegro</p>
		</div>
		<div class="col2">
			<p>Conéctate con EAFIT</p>

			<p>Inscríbete en un programa​</p>
			<p>Pregrados​</p>
			<p>Posgrados</p>
			<p>Programas virtuales</p>
			<p>Idiomas</p>
			<p>Cursos, diplomados y seminarios</p>
			<p>Alta Dirección</p>
			<p>Para mayores de 50</p>
			<p>Universidad de los Niños</p>
			<p>Ciencia, tecnología e innovación</p>
			<p>Centros de estudio</p>
			<p>Filantropía</p>
			<p>Empresas</p>
			<p>Sistemas públicos</p>
			<p>Ecosistema de emprendimiento</p>
			<p>Trabaja con nosotros</p>
		</div>
		<div class="col3">
			<p>Sobre nosotros</p>

			<p>Biblioteca</p>
			<p>Tarifas</p>
			<p>Personería jurídica</p>
			<p>Reglamentos y estatutos</p>
			<p>Línea de transparencia​</p>
			<p>Preguntas frecuentes</p>
			<p>Registra una PQRSF</p>
			<p>Gén​ero, Diversidad ​e I​nclusión</p>
			<p>Notificaciones judiciales y certificados</p>
			<p>Actualiza tus datos</p>
			<p>Política de protección de datos</p>
			<p>Términos de uso</p>
			<p>Más Información Institucional</p>
		</div>
	</div>
	<p class="copr">© 2023 Copyright: UV-EYES</p>
</footer>
</html>